<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Homepage</title>
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav-tabs">
          <li class="nav-item">
            <a
              class="nav-link active"
              href="#about"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#contact-me"
              >Contact Me</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Homepage</h1>
      <h2>This is basic info page for The Odin Project curriculum!</h2>
    </main>
    <footer>
      <p>&copy; Info Page 2024</p>
    </footer>
    <script src="scripts.js"></script>
  </body>
</html>
