/* Global */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header,
footer {
  background-color: #eee;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
}

main,
section {
  margin-bottom: auto;
  padding: 20px;
}

h2 {
  margin: 0 0 20px;
}

p {
  margin: 0 0 15px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.contact-info {
  display: flex;
  justify-content: space-between;
}

.contact-info p {
  margin: 0;
}

footer {
  text-align: center;
  padding: 20px 0;
  color: #777;
}

/* Nav menu */
.nav-tabs {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-link {
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
}

.nav-link.active {
  background-color: #eee;
}

/* Contact me */
.contact-info {
  display: flex;
  justify-content: space-between;
}

.contact-info p {
  margin: 0;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px 0;
  color: #777;
}
